body{
    background-color: #60a9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

html{
    box-sizing:border-box;
    font-family: 'Open Sans',sans-serif; 
}

.panel{
    background-color: white;
    border-radius: 12px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.pricing-plan{
    border-bottom: 2px solid #e1f1ff;
}

.pricing-plan:last-child{
    border-bottom: none;
}

.pricing-img{
    margin-bottom:25px;
    width: 100%;
}

.pricing-header{
    color:#888;
    font-weight:600;
    letter-spacing:2px;
}